.active {
    font-weight: bold;
    outline-style: solid;
    border-radius: 3px;
}

a {
    margin: 10px;
    padding: 2px; 
    text-decoration: none; 
}

header {
    background-color: #279EFF;
    padding: 10px;
}

.btnContainer {
    display: flex;
    list-style-type: none;
}