.active {
    font-weight: bold;
    outline-style: solid;
    border-radius: 3px;
}

header {
    background-color: #ABD9FF;
    padding: 10px;
}

.btnContainer {
    display: flex;
    list-style-type: none;
}